:root {
  --white: #FFFFFF;
  --black: #000000;
  --green-900: #293632;
  --green-800: #2D473E;
  --green-500: #006340;
  --gray-50: #F5F5F5;
  --gray-100: #DBDBDB;
  --gray-300: #ADADAD;
  --gray-500: #808080;
}