.button {
  background-color: var(--green-500);
  color: var(--white);
  padding: var(--spacing-sm) var(--spacing-lg);
  border: 0;
  border-radius: 10px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
