.faq {
  color: var(--green-900);
  font-size: var(--caption);
  background-color: var(--gray-50);
  padding: var(--spacing-lg) var(--spacing-md);

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  &__question {
    font-size: var(--body2);
    font-weight: bold;
    margin-bottom: var(--spacing-xxs);
  }
}
